@import './transition.scss';
@import './variables.scss';
@import "~element-ui/packages/theme-chalk/src/index";
@import './reset-element-ui.scss';

//normalize额外重置样式
html,body { height: 100%; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;}
ul,dl,dd,p,h1,h2,h3,h4,h5{ list-style: none;margin: 0;padding: 0;box-sizing: border-box}
html,body {min-width: 1440px;}
textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
//全局样式
.container{ width: 1200px; margin: 0 auto; height: inherit;}
hr{
  border-top: none;
  border-color: #999;
}
.text-nowrap{ max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.text-active{ color: $--color-primary;}
.text-success{color: $--color-success;}
.text-danger{color: $--color-danger;}
.text-warning{color: $--color-warning;}


.background-active{ background-color: $--color-primary;}


tr.contract-order-list-row-class{
  background:$--contract-table-bg;
  &:hover>td{
    background: $--contract-table-active!important;
  }
  th.is-leaf{
    background: $--contract-table-bg;
    border-color: rgb(27, 28, 29);
  }
  td{
    border-color: rgb(27, 28, 29);
  }
}

.contrat-popper-success-class{
  background: $--contract-table-bg;
  border: 1px solid $--color-success;
  &>.el-popover__title{
    color: $--color-success;
  }
  &[x-placement^="left"] .popper__arrow{
    border-left-color: $--color-success;
    &::after{
      border-left-color: $--color-success;
    }
  }
}
.contrat-popper-danger-class{
  background: $--contract-table-bg;
  border: 1px solid $--color-danger;
  &>.el-popover__title{
    color: $--color-danger;
  }
  &[x-placement^="left"] .popper__arrow{
    border-left-color: $--color-danger;
    &::after{
      border-left-color: $--color-danger;
    }
  }
}

.share-text-info{
  color: $--share-text-info
}
.share-text-success{
  color: $--color-success
}
.share-text-danger{
  color: $--color-danger
}
.share-active-bg{
  color: $--color-success
}
.login-custom-form{
  /deep/ .el-input__inner{
      background: transparent;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.custom-select{
  & /deep/ .el-input__inner{
    background: transparent;
    color: #fff;
    border:none
  }
}

